.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-slide {
  font-size: 18px;
  color: #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.swiper-pagination {
  font-size: 27px;
  text-align: center;
  bottom: 2%;
  font-weight: 400;
}

.banner {
  display: flex;
  position: relative;
}

.swiper-slide .title {
  font-size: 24px;
  font-weight: 300;
}

.swiper-slide .text {
  font-size: 48px;
  max-width: 400px;
  line-height: 1.3;
}
.swiper-button-prev{
  color: #af8a64;
  font-size: 14px;
  
}
.swiper-button-next{
  color: #af8a64;
  font-size: 14px;
}
.swiper-pagination-bullet-active{
  background: #af8a64;
}